<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../../layout/head') %>
</head>
<body>
    <nav> <%= item.length%> Saved Books</nav>
    <main>
        <%- include('./detail') %>
        
    </main>
</body>
</html>