<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
</head>
<body>
  
  <header>
      <%- include('../../layout/header') %>
      <nav>Search by Title or Author</nav>
  </header>

  <main>
    <form action="/searches" method="post">
      <input type="text" id="search" name="search" placeholder="Enter a Title or Author" required>
      <fieldset>
        <label for="title">
          <span>Title</span>
            <input type="radio" name='search' value="title" required>
        </label>
      </fieldset>
      <fieldset>
        <label for="author">
          <span>Author</span>
            <input type="radio" name='search' value="author" required>
        </label>
      </fieldset>
      <button type="submit">Search the Google Books API</button>
    </form>

  </main>
  
</body>
<footer>
  
</footer>

</html>