@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body {
  background-color: lightgray;
  color: black;
  text-align: center;
}

#search {
  background-color: white;
}

input {
  background-color: rgb(226, 223, 218);
}

nav {
  background-color: black;
  color: white;
  font-size: 3em;
}

header {
  background-color: grey;
  color: white;
  text-align: center;
  font-size: 2em;
}

footer {
  background-color: black;
}