@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');

*{
    box-sizing: border-box;
}


h1{
    font-family: 'Shadows Into Light', cursive;  
    font-size: 2em; 
}

header p{
    margin-top: 10px;  
    font-family: 'Shadows Into Light', cursive;  
    font-size: 0.9em;
    display: inline-block;
    margin-left:8px; 
}

img{
    width:140px;
    margin: auto;
}

.menu-icon{
    float:right;
    height: 40px;
}

button {
    background-color: black;
    color: white;
}

.hide{
    display:none;
}


form button{
    display: inline-block;
}

form input{
    display: block;
}