@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');

*{
    box-sizing: border-box;
}

header p{
    margin-top: 10px;  
    font-family: 'Shadows Into Light', cursive;  
    font-size: 4em;
}

.menu-icon{
    float:right;
    height: 40px;
}

button {
    background-color: black;
    color: white;
}

.hide{
    display:none;
}


form button{
    display: inline-block;
}